<div class="loginForm">
    <div class="loginContainer">
        <form action="/login" method="POST" class="login__form" role="login">
            <label for="username"><b>Username</b></label>
            <input type="text" id="loginUsername" name="username" placeholder="Username">
            <label for="password"><b>Password</b></label>
            <input type="password" id="password" name="password" placeholder="Password">
            <div class="clearfix">
                <button type="submit" class="submitBtn">Sign In</button>
                <button type="button" class="cancelBtn" id="loginCancelBtn">Cancel</button>
            </div>
        </form>
    </div>
</div>