<div class="signupForm">
  <div class="signupContainer">
    <form action="/signup" method="POST" class="signup__form" role="signup">
      <label for="username"><b>Username</b></label>
      <input type="text" id="signupUsername" name="username" placeholder="Username">
      <label for="password"><b>Password</b></label>
      <input type="password" id="signupPassword" name="password" placeholder="Password">
      <label for="password"><b>Confirm Password</b></label>
      <input type="password" id="signupCpassword" name="cpassword" placeholder="Confirm Password">
      <div class="clearfix">
        
        <button type="submit" class="submitBtn">Sign Up</button>
        <button type="button" class="cancelBtn" id="signupCancelBtn">Cancel</button>
        
      </div>
    </form>

  </div>
</div>