<!DOCTYPE html>
<html lang="en">
<head>
    <title>About</title>
</head>
<body>
    <div class="container">
        <h1>About</h1>
        <div class="about_page">
            <img src="/img/girl-reading-book-at-sea.png" alt="girl girl reading book at sea" class="about_img">
            <div class="about_text">
                <h4>Our mission is to provide a platform where individuals can freely express themselves through the art of writing. We strive to foster a supportive and inclusive environment where every voice is heard and respected.</h4>
                <h2></h2>
                <h3>What Do We Offer:</h3>
                <h4>
                    <li>User-Friendly Interface.</li>
                    <li>Creative Freedom.</li>
                    <li>Engaging Discussions.</li>
                    <li>Secure and Reliable.</li>
                </h4>
            </div>
        </div>
</body>
</html>
