/* Main Header */
.header {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "logo button"
        "menu menu";
    padding-top: 10px;
}

@media only screen and (min-width: 768px) {
    .header {
        grid-template-columns: auto 1fr auto;
        grid-template-areas:
            "logo menu button";
    }
}


.header__nav {
    justify-content: center;
    display: flex;
    grid-area: menu;
}

.header__nav,
.header__button,
.header__user {
    width: 100%;
}

.header__button, .header__user__button {
    display: flex;
    justify-content: end;
    grid-area: button;
}

.header__button button,
.header__user__button button {
    display: flex;
    gap: 0.3rem;
    align-items: center;
    border: 0;
    padding: 6px 12px;
    background: none;
    border-radius: 10px;
    border: 2px solid transparent;
    font-size: 1rem;
    font-weight: 600;
    color: var(--black);
}

.header__button button:hover {
    border: 2px solid var(--black);
}

/* Header -> Navigation */
.header__nav ul {
    list-style-type: none;
    display: flex;
    gap: 1rem;
    font-weight: 600;
    padding: 0;
}

.header__nav ul a {
    padding: 10px;
    text-decoration: none;
}

.header__nav ul a.active {
    color: #7E7E7E;
}

.header__nav ul a:hover {
    text-decoration: underline;
}