.clearPostBtn {
    background-color: #aa5f59;
}

.postBtn {
    background-color: #3d41af;
}

/* Float cancel and signup buttons and add an equal width */
.clearPostBtn,
.postBtn {
    float: left;
    width: 50%;

}

.user-posts {
    padding: 0;
    margin: 0;
}

.user-post-controls .child {
    display: inline-block;
}


.user-post-controls .edit-btn,
.user-post-controls .btn {
    font-family: "Georgia", sans-serif;
    background-color: var(--black);
    color: var(--gray-light);
    border: 0;
    text-decoration: none;
    font-size: .8rem;
    padding: 4px 8px;
    line-height: 2;
}

.user-posts li {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.modal {
    display: none;
    position: fixed;
    z-index: 8;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    margin: 50px auto;
    border: 1px solid #999;
    width: 60%;
}

h2,
p {
    font-family: "Georgia", sans-serif;
    margin: 0 0 20px;
    font-weight: 400;
    color: #999;
}

span {
    color: #666;
    display: block;
    padding: 0 0 5px;
}

.contact-form {
    padding: 25px;
    margin: 25px;
    box-shadow: 0 2px 5px #f5f5f5;
    background: #eee;
}

input,
textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #1c87c9;
    outline: none;
}

.contact-form button {
    font-family: "Georgia", sans-serif;
    width: 100%;
    padding: 10px;
    border: none;
    background: #1c87c9;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}

.close {
    font-family: "Georgia", sans-serif;
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}